.shippingButton1{
    font-size: 15px;
}

.shippingButton2{
    font-size: 15px;
}

.shippingButton3{
    font-size: 20px;
}

.orderButton1{
    font-size: 20px;
}

.fileButton1{
    font-size: 20px;
    
}

.fileButton2{
    font-size: 20px;
    
}

.fileButton3{
    font-size: 20px;
    display : inline;
}

.orderGoButton{
    font-size: 15px;
}